/* Reset Code */ 
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  scroll-behavior: smooth;
  overflow-x: hidden ;
}

a{
  text-decoration: none;
  transition: .3s;
}

img{
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

ul{
  list-style: none;
}

