/* Reset Code */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

ul {
  list-style: none;
}

/* Margin & Padding */
.mt-10 {
  margin-top: 10px;
}

.me-10 {
  margin-right: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.ms-10 {
  margin-left: 10px;
}

.mx-10 {
  margin: 10px;
}

.mx-auto {
  margin: auto;
}

.ms-auto {
  margin-left: auto;
}

.me-auto {
  margin-right: auto;
}

.mt-auto {
  margin-top: auto;
}

.mb-auto {
  margin-bottom: auto;
}

.pt-10 {
  padding-top: 10px;
}

.pe-10 {
  padding-right: 10px;
}

.pb-10 {
  padding-bottom: 10px;
}

.ps-10 {
  padding-left: 10px;
}

.px-10 {
  padding: 10px;
}

.px-auto {
  padding: auto;
}

.pt-auto {
  padding-top: auto;
}

.pe-auto {
  padding-right: auto;
}

.pb-auto {
  padding-bottom: auto;
}

.ps-auto {
  padding-left: auto;
}

.mt-20 {
  margin-top: 20px;
}

.me-20 {
  margin-right: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.ms-20 {
  margin-left: 20px;
}

.mx-20 {
  margin: 20px;
}

.mx-auto {
  margin: auto;
}

.ms-auto {
  margin-left: auto;
}

.me-auto {
  margin-right: auto;
}

.mt-auto {
  margin-top: auto;
}

.mb-auto {
  margin-bottom: auto;
}

.pt-20 {
  padding-top: 20px;
}

.pe-20 {
  padding-right: 20px;
}

.pb-20 {
  padding-bottom: 20px;
}

.ps-20 {
  padding-left: 20px;
}

.px-20 {
  padding: 20px;
}

.px-auto {
  padding: auto;
}

.pt-auto {
  padding-top: auto;
}

.pe-auto {
  padding-right: auto;
}

.pb-auto {
  padding-bottom: auto;
}

.ps-auto {
  padding-left: auto;
}

.mt-30 {
  margin-top: 30px;
}

.me-30 {
  margin-right: 30px;
}

.mb-30 {
  margin-bottom: 30px;
}

.ms-30 {
  margin-left: 30px;
}

.mx-30 {
  margin: 30px;
}

.mx-auto {
  margin: auto;
}

.ms-auto {
  margin-left: auto;
}

.me-auto {
  margin-right: auto;
}

.mt-auto {
  margin-top: auto;
}

.mb-auto {
  margin-bottom: auto;
}

.pt-30 {
  padding-top: 30px;
}

.pe-30 {
  padding-right: 30px;
}

.pb-30 {
  padding-bottom: 30px;
}

.ps-30 {
  padding-left: 30px;
}

.px-30 {
  padding: 30px;
}

.px-auto {
  padding: auto;
}

.pt-auto {
  padding-top: auto;
}

.pe-auto {
  padding-right: auto;
}

.pb-auto {
  padding-bottom: auto;
}

.ps-auto {
  padding-left: auto;
}

.mt-40 {
  margin-top: 40px;
}

.me-40 {
  margin-right: 40px;
}

.mb-40 {
  margin-bottom: 40px;
}

.ms-40 {
  margin-left: 40px;
}

.mx-40 {
  margin: 40px;
}

.mx-auto {
  margin: auto;
}

.ms-auto {
  margin-left: auto;
}

.me-auto {
  margin-right: auto;
}

.mt-auto {
  margin-top: auto;
}

.mb-auto {
  margin-bottom: auto;
}

.pt-40 {
  padding-top: 40px;
}

.pe-40 {
  padding-right: 40px;
}

.pb-40 {
  padding-bottom: 40px;
}

.ps-40 {
  padding-left: 40px;
}

.px-40 {
  padding: 40px;
}

.px-auto {
  padding: auto;
}

.pt-auto {
  padding-top: auto;
}

.pe-auto {
  padding-right: auto;
}

.pb-auto {
  padding-bottom: auto;
}

.ps-auto {
  padding-left: auto;
}

.mt-50 {
  margin-top: 50px;
}

.me-50 {
  margin-right: 50px;
}

.mb-50 {
  margin-bottom: 50px;
}

.ms-50 {
  margin-left: 50px;
}

.mx-50 {
  margin: 50px;
}

.mx-auto {
  margin: auto;
}

.ms-auto {
  margin-left: auto;
}

.me-auto {
  margin-right: auto;
}

.mt-auto {
  margin-top: auto;
}

.mb-auto {
  margin-bottom: auto;
}

.pt-50 {
  padding-top: 50px;
}

.pe-50 {
  padding-right: 50px;
}

.pb-50 {
  padding-bottom: 50px;
}

.ps-50 {
  padding-left: 50px;
}

.px-50 {
  padding: 50px;
}

.px-auto {
  padding: auto;
}

.pt-auto {
  padding-top: auto;
}

.pe-auto {
  padding-right: auto;
}

.pb-auto {
  padding-bottom: auto;
}

.ps-auto {
  padding-left: auto;
}

.mt-60 {
  margin-top: 60px;
}

.me-60 {
  margin-right: 60px;
}

.mb-60 {
  margin-bottom: 60px;
}

.ms-60 {
  margin-left: 60px;
}

.mx-60 {
  margin: 60px;
}

.mx-auto {
  margin: auto;
}

.ms-auto {
  margin-left: auto;
}

.me-auto {
  margin-right: auto;
}

.mt-auto {
  margin-top: auto;
}

.mb-auto {
  margin-bottom: auto;
}

.pt-60 {
  padding-top: 60px;
}

.pe-60 {
  padding-right: 60px;
}

.pb-60 {
  padding-bottom: 60px;
}

.ps-60 {
  padding-left: 60px;
}

.px-60 {
  padding: 60px;
}

.px-auto {
  padding: auto;
}

.pt-auto {
  padding-top: auto;
}

.pe-auto {
  padding-right: auto;
}

.pb-auto {
  padding-bottom: auto;
}

.ps-auto {
  padding-left: auto;
}

.mt-70 {
  margin-top: 70px;
}

.me-70 {
  margin-right: 70px;
}

.mb-70 {
  margin-bottom: 70px;
}

.ms-70 {
  margin-left: 70px;
}

.mx-70 {
  margin: 70px;
}

.mx-auto {
  margin: auto;
}

.ms-auto {
  margin-left: auto;
}

.me-auto {
  margin-right: auto;
}

.mt-auto {
  margin-top: auto;
}

.mb-auto {
  margin-bottom: auto;
}

.pt-70 {
  padding-top: 70px;
}

.pe-70 {
  padding-right: 70px;
}

.pb-70 {
  padding-bottom: 70px;
}

.ps-70 {
  padding-left: 70px;
}

.px-70 {
  padding: 70px;
}

.px-auto {
  padding: auto;
}

.pt-auto {
  padding-top: auto;
}

.pe-auto {
  padding-right: auto;
}

.pb-auto {
  padding-bottom: auto;
}

.ps-auto {
  padding-left: auto;
}

.mt-80 {
  margin-top: 80px;
}

.me-80 {
  margin-right: 80px;
}

.mb-80 {
  margin-bottom: 80px;
}

.ms-80 {
  margin-left: 80px;
}

.mx-80 {
  margin: 80px;
}

.mx-auto {
  margin: auto;
}

.ms-auto {
  margin-left: auto;
}

.me-auto {
  margin-right: auto;
}

.mt-auto {
  margin-top: auto;
}

.mb-auto {
  margin-bottom: auto;
}

.pt-80 {
  padding-top: 80px;
}

.pe-80 {
  padding-right: 80px;
}

.pb-80 {
  padding-bottom: 80px;
}

.ps-80 {
  padding-left: 80px;
}

.px-80 {
  padding: 80px;
}

.px-auto {
  padding: auto;
}

.pt-auto {
  padding-top: auto;
}

.pe-auto {
  padding-right: auto;
}

.pb-auto {
  padding-bottom: auto;
}

.ps-auto {
  padding-left: auto;
}

.mt-90 {
  margin-top: 90px;
}

.me-90 {
  margin-right: 90px;
}

.mb-90 {
  margin-bottom: 90px;
}

.ms-90 {
  margin-left: 90px;
}

.mx-90 {
  margin: 90px;
}

.mx-auto {
  margin: auto;
}

.ms-auto {
  margin-left: auto;
}

.me-auto {
  margin-right: auto;
}

.mt-auto {
  margin-top: auto;
}

.mb-auto {
  margin-bottom: auto;
}

.pt-90 {
  padding-top: 90px;
}

.pe-90 {
  padding-right: 90px;
}

.pb-90 {
  padding-bottom: 90px;
}

.ps-90 {
  padding-left: 90px;
}

.px-90 {
  padding: 90px;
}

.px-auto {
  padding: auto;
}

.pt-auto {
  padding-top: auto;
}

.pe-auto {
  padding-right: auto;
}

.pb-auto {
  padding-bottom: auto;
}

.ps-auto {
  padding-left: auto;
}

.mt-100 {
  margin-top: 100px;
}

.me-100 {
  margin-right: 100px;
}

.mb-100 {
  margin-bottom: 100px;
}

.ms-100 {
  margin-left: 100px;
}

.mx-100 {
  margin: 100px;
}

.mx-auto {
  margin: auto;
}

.ms-auto {
  margin-left: auto;
}

.me-auto {
  margin-right: auto;
}

.mt-auto {
  margin-top: auto;
}

.mb-auto {
  margin-bottom: auto;
}

.pt-100 {
  padding-top: 100px;
}

.pe-100 {
  padding-right: 100px;
}

.pb-100 {
  padding-bottom: 100px;
}

.ps-100 {
  padding-left: 100px;
}

.px-100 {
  padding: 100px;
}

.px-auto {
  padding: auto;
}

.pt-auto {
  padding-top: auto;
}

.pe-auto {
  padding-right: auto;
}

.pb-auto {
  padding-bottom: auto;
}

.ps-auto {
  padding-left: auto;
}

/* Typography */
@font-face {
  font-family: sans-serif;
  src: url("");
}
@font-face {
  font-family: "";
  src: url("");
}
@font-face {
  font-family: "";
  src: url("");
}
@font-face {
  font-family: "";
  src: url("");
}
@font-face {
  font-family: "";
  src: url("");
}
body {
  font-family: sans-serif;
}

/*display */
.d-flex {
  display: flex;
}

.d-inline-flex {
  display: inline-flex;
}

/*flex-direction */
.flex-row {
  flex-direction: row;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-column {
  flex-direction: column;
}

.flex-column-reverse {
  flex-direction: column-reverse;
}

/*justify-content */
.justify-flex-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-flex-end {
  justify-content: flex-end;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-around {
  justify-content: space-around;
}

.justify-space-evenly {
  justify-content: space-evenly;
}

/*align-content */
.align-flex-start {
  align-content: flex-start;
}

.align-center {
  align-content: center;
}

.align-flex-end {
  align-content: flex-end;
}

.align-space-between {
  align-content: space-between;
}

.align-space-around {
  align-content: space-around;
}

.align-space-evenly {
  align-content: space-evenly;
}

/*align-items */
.items-flex-start {
  align-items: flex-start;
}

.items-center {
  align-items: center;
}

.items-flex-end {
  align-items: flex-end;
}

/*flex-wrap */
.flex-nowrap {
  flex-wrap: nowrap;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}

/*font-weight */
.fw-100 {
  font-weight: 100;
}

.fw-200 {
  font-weight: 200;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.fw-900 {
  font-weight: 900;
}

/*text-transform */
.text-uppercase {
  text-transform: uppercase;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-capitalize {
  text-transform: capitalize;
}

/*text-align */
.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

/*position */
.position-fixed {
  position: fixed;
}

.position-static {
  position: static;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.container {
  width: 100%;
  margin: auto;
  padding: 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

@media (max-width: 767px) {
  .container {
    max-width: 100%;
  }
  .menu {
    display: none;
  }
  .search-box {
    display: none;
  }
  .single-feaure {
    border: 2px solid #fff;
  }
  .col-1 {
    width: 8.3333333333%;
  }
  .col-2 {
    width: 16.6666666667%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.3333333333%;
  }
  .col-5 {
    width: 41.6666666667%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.3333333333%;
  }
  .col-8 {
    width: 66.6666666667%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.3333333333%;
  }
  .col-11 {
    width: 91.6666666667%;
  }
  .col-12 {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .col-md-1 {
    width: 8.3333333333%;
  }
  .col-md-2 {
    width: 16.6666666667%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.3333333333%;
  }
  .col-md-5 {
    width: 41.6666666667%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.3333333333%;
  }
  .col-md-8 {
    width: 66.6666666667%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.3333333333%;
  }
  .col-md-11 {
    width: 91.6666666667%;
  }
  .col-md-12 {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .col-lg-1 {
    width: 8.3333333333%;
  }
  .col-lg-2 {
    width: 16.6666666667%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.3333333333%;
  }
  .col-lg-5 {
    width: 41.6666666667%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.3333333333%;
  }
  .col-lg-8 {
    width: 66.6666666667%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.3333333333%;
  }
  .col-lg-11 {
    width: 91.6666666667%;
  }
  .col-lg-12 {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
  .col-xl-1 {
    width: 8.3333333333%;
  }
  .col-xl-2 {
    width: 16.6666666667%;
  }
  .col-xl-3 {
    width: 25%;
  }
  .col-xl-4 {
    width: 33.3333333333%;
  }
  .col-xl-5 {
    width: 41.6666666667%;
  }
  .col-xl-6 {
    width: 50%;
  }
  .col-xl-7 {
    width: 58.3333333333%;
  }
  .col-xl-8 {
    width: 66.6666666667%;
  }
  .col-xl-9 {
    width: 75%;
  }
  .col-xl-10 {
    width: 83.3333333333%;
  }
  .col-xl-11 {
    width: 91.6666666667%;
  }
  .col-xl-12 {
    width: 100%;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
  .col-xxl-1 {
    width: 8.3333333333%;
  }
  .col-xxl-2 {
    width: 16.6666666667%;
  }
  .col-xxl-3 {
    width: 25%;
  }
  .col-xxl-4 {
    width: 33.3333333333%;
  }
  .col-xxl-5 {
    width: 41.6666666667%;
  }
  .col-xxl-6 {
    width: 50%;
  }
  .col-xxl-7 {
    width: 58.3333333333%;
  }
  .col-xxl-8 {
    width: 66.6666666667%;
  }
  .col-xxl-9 {
    width: 75%;
  }
  .col-xxl-10 {
    width: 83.3333333333%;
  }
  .col-xxl-11 {
    width: 91.6666666667%;
  }
  .col-xxl-12 {
    width: 100%;
  }
}
/* Preloader style */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 9999;
  /* Make sure it's on top of everything else */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Spinner animation */
.spinner {
  width: 50px;
  height: 50px;
  border: 8px solid rgba(0, 0, 0, 0.1);
  border-top-color: #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
/* Hide preloader when the page is loaded */
body.loaded #preloader {
  display: none;
}

/* Scroll Bar  */
#scrollToTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #3498db;
  color: #fff;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 50%;
  text-align: center;
  display: none;
  /* Initially hidden */
  cursor: pointer;
  z-index: 1000;
  /* Make sure it's on top */
}

#scrollToTop:hover {
  color: rgba(173, 6, 6, 0.9254901961);
}

.nav-menu {
  display: none;
  width: 300px;
  padding: 20px;
  background-color: #ddd;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(-100%);
  transition: all 0.5s linear;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 9;
}
.nav-menu ul input {
  width: 100%;
  padding: 9px;
  outline: none;
  border: none;
  position: relative;
}
.nav-menu ul i {
  position: absolute;
  top: 21px;
  background: #333;
  padding: 9px;
  color: #fff;
  cursor: pointer;
  right: 67px;
}
.nav-menu ul li a {
  color: #000;
}
.nav-menu ul li a:hover {
  background-color: papayawhip;
  padding: 10px;
  color: forestgreen;
}

.active .nav-menu {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  left: 0;
}

.cover-50 {
  background-size: cover;
  background-position: center;
  height: 50vh;
}

.cover {
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.d-inline {
  display: inline-block;
}

.owl-nav {
  display: none;
}

.owl-dots {
  position: absolute;
  bottom: 50px;
  left: 42%;
}

.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #ffc107;
  display: block;
  transition: opacity 0.2s ease;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #df1f3f;
}

/* color area */
/*Header Top*/
.header-top-area {
  background: #0652DD;
  padding: 20px;
}
.header-top-area .menu .menu-item .small-menu {
  position: absolute;
  background: #f2f2f2;
  top: 0;
  left: 0;
  padding: 20px;
  width: 200px;
  visibility: hidden;
  opacity: 0;
  z-index: 99;
  transition: 0.3s;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.3);
}
.header-top-area .menu .menu-item .small-menu li {
  margin-top: 15px;
}
.header-top-area .menu .menu-item .small-menu li a {
  color: #333;
}
.header-top-area .menu .menu-item .small-menu li a:hover {
  color: #0652DD;
}
.header-top-area .menu .menu-item .big-dropdown {
  position: absolute;
  background: #f2f2f2;
  top: 0;
  left: 0;
  padding: 40px;
  visibility: hidden;
  opacity: 0;
  z-index: 99;
  transition: 0.3s;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.3);
  margin: 0 -343px 100px;
  width: 760px;
}
.header-top-area .menu .menu-item .big-dropdown ul {
  width: 129px;
}
.header-top-area .menu .menu-item .big-dropdown ul li {
  margin-top: 20px;
  padding: 5px;
  text-align: center;
  border-radius: 3px;
}
.header-top-area .menu .menu-item .big-dropdown ul li:hover {
  background: white;
}
.header-top-area .menu .menu-item .big-dropdown ul li a {
  color: #333;
}
.header-top-area .menu .menu-item .big-dropdown ul li a:hover {
  color: #0652DD;
}
.header-top-area .menu .menu-item .big-dropdown .menu-img {
  width: 176px;
  margin-left: 15px;
  cursor: pointer;
}
.header-top-area .menu .menu-item:hover .big-dropdown, .header-top-area .menu .menu-item:hover .small-menu {
  visibility: visible;
  opacity: 1;
  top: 46px;
  transition: 0.3s;
}
.header-top-area .menu .menu-item a {
  position: relative;
  color: white;
}
.header-top-area .menu .angle-down::after {
  position: absolute;
  content: "\f107";
  font-family: fontawesome;
  top: -3px;
  right: -21px;
  color: white;
}
.header-top-area .contact-head a {
  display: inline-block;
  color: white;
}
.header-top-area .contact-head a span {
  display: block;
}

/* Main Header */
.header-area {
  background: white;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.3);
}
.header-area .catagories .bars-btn {
  font-size: 31px;
  line-height: 40px;
  cursor: pointer;
}
.header-area .catagories .cata-content {
  font-size: 14px;
  font-weight: 600;
  color: #333;
  cursor: pointer;
}
.header-area .catagories .cata-content:hover {
  color: #0652DD;
  transition: 0.3s;
}
.header-area .catagories .nav-menu {
  background: #f2f2f2;
  padding: 10px;
  width: 100%;
  height: 100vh;
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
  display: block;
  position: absolute;
  z-index: 9;
}
.header-area .catagories .nav-menu.active {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
  display: block;
}
.header-area .search-box::after {
  position: absolute;
  content: "\f002";
  font-family: fontawesome;
  top: 13px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
  color: #333;
}
.header-area .search-box input {
  width: 100%;
  padding: 14px;
  border: 1px solid transparent;
  outline: none;
  border-radius: 3px;
  background-color: #f2f2f2;
  z-index: -1;
}
.header-area .search-box input:focus {
  border: 1px solid #333;
}
.header-area .head-tolls span i {
  font-size: 30px;
  cursor: pointer;
}
.header-area .head-tolls span i:hover {
  color: #0652DD;
  transition: 0.3s;
}

.header-area.scrolled {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  transition: 0.3s;
}

.banner-slider .item .banner-content h2 {
  font-size: 55px;
  line-height: 62px;
  color: white;
}
.banner-slider .item .banner-content p {
  color: white;
}
.banner-slider .item .banner-content .small-btn {
  display: inline-block;
  padding: 11px;
  background: #0652DD;
  margin: 10px;
  border-radius: 5px;
  color: white;
  font-size: 16px;
}
.banner-slider .item .banner-content .small-btn:hover {
  background: #ffc107;
  color: #333;
}

.feaure-area .single-feaure {
  overflow: hidden;
  cursor: pointer;
  margin: 0 2px;
}
.feaure-area .single-feaure .feature-content h5 {
  color: white;
  font-size: 24px;
}
.feaure-area .single-feaure .feature-content .feature-btn {
  display: block;
  padding: 11px;
  background-color: #0652DD;
  border-radius: 5px;
  font-size: 16px;
  color: white;
  position: absolute;
  bottom: -41px;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
.feaure-area .single-feaure .feature-content .feature-btn:hover {
  background-color: #ffc107;
  color: #000;
}
.feaure-area .single-feaure:hover .feature-btn {
  visibility: visible;
  bottom: 42px;
  opacity: 1;
}

.section-title h4 {
  font-size: 36px;
  line-height: 43px;
}
.section-title p {
  font-size: 23px;
  line-height: 35px;
  color: #333;
}

.products {
  cursor: pointer;
  margin: 5px;
}
.products figure .ribbon {
  position: absolute;
  top: 5px;
  background: #e74c3c;
  padding: 5px;
  color: white;
  font-weight: 600;
}
.products figure a {
  display: inline-block;
}
.products figure a img:first-child {
  display: none;
}
.products figure a img:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: 0.3s ease-in-out;
}
.products figure .count-clock {
  position: absolute;
  bottom: 130px;
  background: #e74c3c;
  padding: 5px;
  color: white;
  transform: translate(50%, 50%);
}
.products .rating .rating-icon {
  color: #ffc107;
}
.products .product-name {
  display: inline-block;
  color: #000;
  font-size: 15px;
  margin-bottom: 5px;
}
.products .product-name:hover {
  color: #0652DD;
}
.products .price-box .old-price {
  color: #333;
  text-decoration: line-through;
}
.products .price-box .new-price {
  color: #0652DD;
}

.fixed-banner {
  background-attachment: fixed;
}
.fixed-banner .banner-content h2 {
  font-size: 55px;
  line-height: 62px;
  color: white;
  max-width: 660px;
}
.fixed-banner .banner-content p {
  color: white;
}
.fixed-banner .banner-content .small-btn {
  display: inline-block;
  padding: 11px;
  background: #0652DD;
  margin: 10px;
  border-radius: 5px;
  color: white;
  font-size: 16px;
}
.fixed-banner .banner-content .small-btn:hover {
  background: #ffc107;
  color: #333;
}
.fixed-banner .banner-content span {
  font-size: 39px;
  font-weight: 700;
  color: white;
}
.fixed-banner .banner-content span del {
  color: #f2f2f2;
  font-weight: 500;
  font-size: 24px;
}/*# sourceMappingURL=style.css.map */